<div class="extend-membership-placeholder">
    <div class="extend-membership-title">
        <h1>YOU ALREADY HAVE AN ACTIVE MEMBERSHIP FOR {{m_info.name}} THAT EXPIRES ON {{m_info.exp_date}} </h1> <!-- EDO THA MPEI TO CLASS POU EXEI DIALEKSEI O CUSTOMER -->
    </div>
    <div class="extend-membership-form-container">

        {{#if_eq m_info.length 1}}
            <div class="anim_button" onclick="window.location.href='/membership_extended/{{customerID}}/{{m_info.membership_id}}'" >EXTEND MEMBERSHIP FOR ANOTHER MONTH<span></span></div>
        {{/if_eq}}

        {{#if_eq m_info.length 2}}
            <div class="anim_button" onclick="window.location.href='/membership_extended/{{customerID}}/{{m_info.membership_id}}'" >EXTEND MEMBERSHIP FOR ANOTHER 6 MONTHS<span></span></div>
        {{/if_eq}}

        {{#if_eq m_info.length 3}}
            <div class="anim_button" onclick="window.location.href='/membership_extended/{{customerID}}/{{m_info.membership_id}}'" >EXTEND MEMBERSHIP FOR ANOTHER 12 MONTHS<span></span></div>
        {{/if_eq}}
        
        <div class="anim_button" onclick="window.location.href='/home'">GO HOME<span></span>
    </div>
    </div>
</div>