<div class="gymlab-schedule-placeholder">
{{#unless userId}}
    <div class="schedule-buttons-container">
        <h1>SCHEDULE FOR {{selectedGym}}</h1>
        <div class="schedule-buttons-container-buttons">
            <button type="button" class="anim_button" onclick="window.location.href='/gymLab_schedule/ATHENS'"><span></span>ATHENS</button>
            <button type="button" class="anim_button" onclick="window.location.href='/gymLab_schedule/PATRA'"><span></span>PATRA</button>
            <button type="button" class="anim_button" onclick="window.location.href='/gymLab_schedule/KARPENISI'"><span></span>KARPENISI</button>
        </div>
        
    </div>
{{else}}
    {{#if homeGym}}
        <h1 style="color:rgb(255, 255, 255); text-trasform: capitalize; text-align: left; padding-bottom: 3%; font-size: 4.5em; padding-top: 8%">SCHEDULE FOR {{homeGym.location}}</h1>
    {{else}}
    <div class="schedule-buttons-container">
        <h1>SCHEDULE FOR {{selectedGym}}</h1>
        <div class="schedule-buttons-container-buttons">
            <button type="button" class="anim_button" onclick="window.location.href='/gymLab_schedule/ATHENS'"><span></span>ATHENS</button>
            <button type="button" class="anim_button" onclick="window.location.href='/gymLab_schedule/PATRA'"><span></span>PATRA</button>
            <button type="button" class="anim_button" onclick="window.location.href='/gymLab_schedule/KARPENISI'"><span></span>KARPENISI</button>
        </div>
    </div>
    {{/if}}
{{/unless}}



<div class="schedule-container">
    <div class="schedule-header">
        <div class="schedule-cell"></div>
        <div class="schedule-cell">MONDAY</div>
        <div class="schedule-cell">TUESDAY</div>
        <div class="schedule-cell">WEDNESDAY</div>
        <div class="schedule-cell">THURSDAY</div>
        <div class="schedule-cell">FRIDAY</div>
        <div class="schedule-cell">SATURDAY</div>
    </div>

    {{!-- For each timeslot --}}
    {{#each timeSlots}}
        <div class="schedule-row">
            {{!-- Display every timeslot --}}
            <div class="schedule-cell">{{this}}</div>
            {{!-- For each day --}}
            {{#each ../days}}
                <div class="schedule-cell">
                    {{!-- For each object in schedule --}}
                    {{#each ../../schedule}}
                    {{!-- if schedule.day == days.day --}}
                        {{#if_eq this.day ../this}}
                        {{!-- if schedule.time == timeSlots.time --}}
                            {{#if_eq this.time ../../this}}
                            {{!-- Display schedule.name --}}
                                
                                    {{#if_eq this.name "PILATES"}}

                                        <div style="background-color:#658864">
                                            {{this.name}}
                                        </div>
                                        

                                    {{/if_eq}}

                                    {{#if_eq this.name "CROSSFIT"}}

                                        <div style="background-color:#B7B78A">
                                            {{this.name}}
                                        </div>

                                    {{/if_eq}}

                                    {{#if_eq this.name "YOGA"}}

                                        <div style="background-color:#DDDDDD">
                                            {{this.name}}
                                        </div>

                                    {{/if_eq}}
                                
                            {{/if_eq}}
                        {{/if_eq}}
                    {{/each}}
                </div>
            {{/each}}
        </div>
    {{/each}}

</div>
</div>