<h1 class="select_club">SELECT YOUR HOME CLUB</h1>
<div class="row">

  {{#each gyms}}
    <div class="column">
      <a href="/services/{{location}}" id="{{gym_id}}">
      <div class="cont-img-container">
        <img
          src="/images/gym{{gym_id}}.jpg"
          style="width:100%; cursor: pointer;"
        />
      </a>
      </div>
      <div class="content">
        <h3>
          {{location}}
        </h3>
        <p>{{address}}</p>
      </div>
    </div>
  {{/each}}
</div>