<h1 class="select_club">SELECT YOUR HOME CLUB</h1>
<div class="row">

  <div class="column">
    <a href="/services/{{club1.gym_id}}" id="athens">
    <div class="cont-img-container">
      <img
        src="/images/gym1.jpg" 
        style="width:100%; cursor: pointer;"
      />
      </div>
    </a>
    <div class="content">
      <h3>
        {{club1.location}}
      </h3>
      <p>{{club1.address}}</p>
    </div>
  </div>

  <div class="column">
    <a href="/services/{{club2.gym_id}}" id="patra">
    <div class="cont-img-container">
      <img
        src="/images/gym2.jpg"
        style="width:100%; cursor: pointer; "
      />
      </div>
    </a>
    <div class="content">
      <h3>
        {{club2.location}}
      </h3>
      <p>{{club2.address}}</p>
    </div>
  </div>

  <div class="column">
    <a href="/services/{{club3.gym_id}}" id="karpenisi">
    <div class="cont-img-container">
      <img
        src="/images/gym3.jpg"
        style="width:100%; cursor: pointer;"
      />
    </a>
    </div>
    <div class="content">
      <h3>
        {{club3.location}}
      </h3>
      <p>{{club3.address}}</p>
    </div>
  </div>
</div>





{{!-- <script>
document.querySelectorAll('.column a').forEach(club => {
  club.addEventListener('click', function(event) {
    event.preventDefault();
    const clubId = this.id;
    localStorage.setItem('selectedClub', clubId);
    console.log('Selected club:', clubId);

    fetch('/services', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ selectedClub: clubId })
    }).then(response => {
      if (response.ok) {
        window.location.href = '/services';
      }
    }).catch(error => console.error('Error:', error));
  });
});
</script> --}}