<div class = "classes-subtitle" style="padding-top: 100px; padding-bottom: 50px; text-align: center;  font-size: 20px;">
    <h1>MEMBERSHIPS</h1>
</div>
<div class="boxes">
    <div class="box">
        <div class="type_of_membership">
            <h3 class="pricing_type">
                1 MONTH
            </h3>
        </div>
        <div class="price">
            $45
        </div>
        <div class="perks" style="padding-right: 10%">
            <div>
                <div class="perk">
                    <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                        loading="lazy" alt="" class="feature-check_image">
                    <a href="/about_classes">
                        <p>FOR ANY CLASS</p>
                    </a>
                </div>
            </div>
            <div class="perk">
                <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                    loading="lazy" alt="" class="feature-check_image">
                <a href="/about_classes">
                    <p>ALL MEMBER EVENTS</p>
                </a>
            </div>
            <div>
                <div class="perk">
                    <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                        loading="lazy" alt="" class="feature-check_image">
                    <a href="/about_classes">
                        <p>INDOOR POOL</p>
                    </a>
                </div>
            </div>

        </div>
        <footer>
            <div class="membership-description">
                <p>Monthly payment, free cancelation</p>
            </div>
            <div>
            <button class="anim_button" onclick="loadAnotherFile({{gym_id}},{{class_id}},{{membership1.membership_id}})"><span></span>Select</button>
                <script>
                    function loadAnotherFile(gym_id ,class_id, membership_id) {
                        // Load the other HTML file here
                        window.location.href = "/personal_info/"+gym_id+"/"+class_id+"/"+membership_id+"";
                    }
                </script>
            </button>
        </footer>
    </div>

    <div class="box">
        <div class="type_of_membership">
            <h3 class="pricing_type">
                6 MONTH
            </h3>
        </div>
        <div class="price">
            $199
        </div>
        <div class="perks" style="padding-right: 10%">
            <div>
                <div class="perk">
                    <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                        loading="lazy" alt="" class="feature-check_image">
                    <a href="/about_classes">
                        <p>FOR ANY CLASS</p>
                    </a>
                </div>
            </div>
            <div class="perk">
                <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                    loading="lazy" alt="" class="feature-check_image">
                <a href="/about_classes">
                    <p>ALL MEMBER EVENTS</p>
                </a>
            </div>
            <div>
                <div class="perk">
                    <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                        loading="lazy" alt="" class="feature-check_image">
                    <a href="/about_classes">
                        <p>INDOOR POOL</p>
                    </a>
                </div>
            </div>

        </div>
        <footer>
            <div class="membership-description">
                <p>One time payment, free cancelation</p>
            </div>
            <button class="anim_button" onclick="loadAnotherFile({{gym_id}},{{class_id}},{{membership2.membership_id}} )"><span></span>Select</button>
            <script>
                function loadAnotherFile(gym_id ,class_id, membership_id) {
                    // Load the other HTML file here
                    window.location.href = "/personal_info/"+gym_id+"/"+class_id+"/"+membership_id+"";
                }
            </script>
        </footer>
    </div>

    <div class="box">
        <div class="type_of_membership">
            <h3 class="pricing_type">
                1 YEAR
            </h3>
        </div>
        <div class="price" >
            $379
        </div>
        <div class="perks" style="padding-right: 10%">
            <div>
                <div class="perk">
                    <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                        loading="lazy" alt="" class="feature-check_image">
                    <a href="/about_classes">
                        <p>FOR ANY CLASS</p>
                    </a>
                </div>
            </div>
            <div class="perk">
                <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                    loading="lazy" alt="" class="feature-check_image">
                <a href="/about_classes">
                    <p>ALL MEMBER EVENTS</p>
                </a>
            </div>
            <div>
                <div class="perk">
                    <img src="https://uploads-ssl.webflow.com/6255cb896cc97d5faf18caf7/6275389ecf1678cf16fdd1c5_dark-green-check.svg"
                        loading="lazy" alt="" class="feature-check_image">
                    <a href="/about_classes">
                        <p>INDOOR POOL</p>
                    </a>
                </div>
            </div>

        </div>
        <footer>
            <div class="membership-description">
                <p>One time payment, free cancelation</p>
            </div>
            <button class="anim_button" onclick="loadAnotherFile({{gym_id}},{{class_id}},{{membership3.membership_id}})"><span></span>Select</button>
            <script>
                function loadAnotherFile(gym_id ,class_id, membership_id) {
                    // Load the other HTML file here
                    window.location.href = "/personal_info/"+gym_id+"/"+class_id+"/"+membership_id+"";
                }
            </script>
        </footer>
    </div>
</div>
</div>