{{!-- SHOW THE CUSTOMERS' SCHEDULE OR BOOK CERTAIN SESSIONS --}}
<div class="gymlab-schedule-placeholder">
<form class='calendar-form' action="/schedule" method="post">
    {{#if view}}
        <h1 style="color:rgb(255, 255, 255); font-size: 5em; padding-bottom: 3%; padding-top: 7%;">YOUR SCHEDULE</h1>
    {{else}}
        <h1 style="color:rgb(255, 255, 255); font-size: 5em; padding-bottom: 2%; padding-top: 7%;">CREATE YOUR SCHEDULE</h1>
        <h1 style="color:rgb(255, 255, 255); font-size: 2em; padding-bottom: 3%;">BOOK AN ONE-HOUR CLASS ANY DAY YOU WANT</h1>
    {{/if}}
    <div class="schedule-container">
        <div class="schedule-header">
            <div class="schedule-cell"></div>
            <div class="schedule-cell">MONDAY</div>
            <div class="schedule-cell">TUESDAY</div>
            <div class="schedule-cell">WEDNESDAY</div>
            <div class="schedule-cell">THURSDAY</div>
            <div class="schedule-cell">FRIDAY</div>
            <div class="schedule-cell">SATURDAY</div>
        </div>
        


        {{!-- For each timeslot --}}
        {{#each timeSlots}}
            <div class="schedule-row">
                {{!-- Display every timeslot --}}
                <div class="schedule-cell">{{this}}</div>
                {{!-- For each day --}}
                {{#each ../days}}
                    <div class="schedule-cell">
                        {{!-- For each object in schedule --}}
                        {{#each ../../schedule}}
                        {{!-- if schedule.day == days.day --}}
                            {{#if_eq this.day ../this}}
                            {{!-- if schedule.time == timeSlots.time --}}
                                {{#if_eq this.time ../../this}}
                                {{!-- Display schedule.name --}}
                                    {{#if ../../../view}}

                                            {{#if_eq this.name "PILATES"}}

                                                <div style="background-color:#658864">
                                                    {{this.name}}
                                                </div>
                                        

                                            {{/if_eq}}

                                            {{#if_eq this.name "CROSSFIT"}}

                                                <div style="background-color:#B7B78A">
                                                    {{this.name}}
                                                </div>

                                            {{/if_eq}}

                                            {{#if_eq this.name "YOGA"}}

                                                <div style="background-color:#DDDDDD">
                                                    {{this.name}}
                                                </div>

                                            {{/if_eq}}
                                                
                                            {{else}}

                                                <button class='select-session-button' type="button" id ="{{this.session_id}}_{{../this}}_{{../../this}}_{{this.name}}">
                                                    {{this.name}}
                                                </button>

                                    {{/if}}
                                {{/if_eq}}
                            {{/if_eq}}
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        {{/each}}


    </div>
    {{#if view}}
        {{#if memberships}}
            <div class="submit-button" style=" width: auto; padding-top: 5%;">
                <button type="button" id="submit-button" class="anim_button" onclick="window.location.href='/schedule'"><span></span>CREATE NEW SCHEDULE</button>
            </div>
        {{else}}
            <div class="submit-button" style=" width: auto; padding-top: 5%;">
                <button type="button" id="submit-button" class="anim_button" onclick="window.location.href='/message'"><span></span>CREATE NEW SCHEDULE</button>
            </div>
        {{/if}}
    {{else}}
        {{#if message}}
            <h1 style="color:rgb(255, 255, 255); text-transform: uppercase; padding-top: 5%">{{message}}</h1>
            
        {{/if}}
        <div class="submit-button" style=" width: auto; padding-top: 2%;">
            <button type="submit" id="submit-button" class="anim_button"><span></span>CREATE SCHEDULE</button>
        </div>
        
    {{/if}}
    <input type="hidden" id="selectedSessionIDs" name="sessionIDs" value=""></input>
</form>
</div>
{{!-- necessary js to to store the selected buttons(sessions) in a hidden input element for the backend to have acces to them --}}
<script src="/js/schedule.js"></script>

